{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <h2 class="mb-4">영화 목록</h2>

  <table class="table table-hover table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">번호</th>
        <th scope="col">영화 제목</th>
        <th scope="col">작성일</th>
      </tr>
    </thead>
    <tbody>
      {% if movie_list %} {% for movie in movie_list %}
      <tr>
        <td>{{ movie.id }}</td>
        <td>
          {% comment %}
          <a
            href="{% url 'movie_detail' movie.id %}"
            class="text-decoration-none text-primary"
          >
            {{ movie.title }}
          </a>
          {% endcomment %} {{movie.title}}
        </td>
        <td>{{ movie.create_date|date:"Y년 m월 d일 H:i" }}</td>
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td colspan="3" class="text-center text-muted">
          리스트에 영화가 없습니다.
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
