{% extends "base.html" %} {% block content %}
<style>
  body {
    background-color: #e6f2ff; /* 연하늘색 */
    margin: 0;
    padding: 0;
  }
</style>

<div class="d-flex justify-content-center">
  <div class="card shadow-lg p-4 mt-5" style="width: 100%; max-width: 500px">
    <h3 class="text-center mb-4">회원가입</h3>
    <form method="post" action="{% url 'common:signup' %}">
      {% csrf_token %} {% include "form_errors.html" %}

      <div class="mb-3">
        <label for="username" class="form-label fw-bold">사용자 이름</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          value="{{ form.username.value|default_if_none:'' }}"
          placeholder="아이디를 입력하세요"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password1" class="form-label fw-bold">비밀번호</label>
        <input
          type="password"
          class="form-control"
          name="password1"
          id="password1"
          placeholder="비밀번호를 입력하세요"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password2" class="form-label fw-bold">비밀번호 확인</label>
        <input
          type="password"
          class="form-control"
          name="password2"
          id="password2"
          placeholder="비밀번호를 다시 입력하세요"
          required
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label fw-bold">이메일</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          value="{{ form.email.value|default_if_none:'' }}"
          placeholder="이메일 주소를 입력하세요"
          required
        />
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg">회원가입</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
